<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boba shop</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="/smoothie.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap" rel="stylesheet">
</head>
<body>
  <div class="nav_bar">
  <nav>
    <h1><a href="/">Boba <span style="color: white; font-family: sofia; font-size: 40px;">shop</span></a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/logout" style="background-color: white; border-radius: 30px;">Log out</a></li>
      <% } else { %>
        <li><a href="/login" onmouseover="this.style.color = '#FFFFFF'; this.style.textDecoration = 'underline';" onmouseout="this.style.color = ''; this.style.textDecoration = 'none';">Login</a></li>
        <li><a href="/signup"style="background: white; border-radius: 30px; display: inline-block; position: relative;" onmouseover="this.style.color = '#FFFFFF'; this.style.textDecoration = 'underline'; this.style.backgroundColor = 'rgb(207, 177, 166)';" onmouseout="this.style.color = ''; this.style.textDecoration = 'none'; this.style.backgroundColor = 'white';">SignUp</a></li>
      <% } %>
    </ul>
  </nav>
</div>
