<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" style=" background: rgb(238, 232, 232);">
    <h4 style="  background: rgb(238, 232, 232);">Banana Boost</h4>
    <p style="  background: rgb(238, 232, 232);">Banana, Vanilla ice cream, Milk</p>
    <a href="/notfound" style="display:inline-block; padding:10px 20px; background:#c79caa; margin-top: 35px; color:#fff; text-decoration:none; border-radius:10px;">Get now</a>

  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" style=" background: rgb(238, 232, 232);">
    <h4 style="  background: rgb(238, 232, 232);">Tropical Twist</h4>
    <p style="  background: rgb(238, 232, 232);">Peach, Pinapple, Apple juice</p>
    <a href="/notfound" style="display:inline-block; padding:10px 20px; background:#c79caa; margin-top: 35px; color:#fff; text-decoration:none; border-radius:10px;">Get now</a>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" style=" background: rgb(238, 232, 232);">
    <h4 style="  background: rgb(238, 232, 232);">Protein Packer</h4>
    <p style="  background: rgb(238, 232, 232);">Oats, Peanut butter, Milk, Banana, Blueberries</p>
    <a href="/notfound" style="display:inline-block; padding:10px 20px; background:#c79caa; margin-top: 10px; color:#fff; text-decoration:none; border-radius:10px;">Get now</a>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" style=" background: rgb(238, 232, 232);">
    <h4 style="  background: rgb(238, 232, 232);">Banana Boost</h4>
    <p style="  background: rgb(238, 232, 232);">Banana, Vanilla ice cream, Milk</p>
    <a href="/notfound" style="display:inline-block; padding:10px 20px; background:#c79caa; margin-top: 35px; color:#fff; text-decoration:none; border-radius:10px;">Get now</a>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" style=" background: rgb(238, 232, 232);">
    <h4 style="  background: rgb(238, 232, 232);">Tropical Twist</h4>
    <p style="  background: rgb(238, 232, 232);">Peach, Pinapple, Apple juice</p>
    <a href="/notfound" style="display:inline-block; padding:10px 20px; background:#c79caa;margin-top: 35px; color:#fff; text-decoration:none; border-radius:10px;">Get now</a>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" style=" background: rgb(238, 232, 232);">
    <h4 style="  background: rgb(238, 232, 232);">Protein Packer</h4>
    <p style="  background: rgb(238, 232, 232);">Oats, Peanut butter, Milk, Banana, Blueberries</p>
    <a href="/notfound" style="display:inline-block; padding:10px 20px;  margin-top: 10px; background:#c79caa; color:#fff; text-decoration:none; border-radius:10px;">Get now</a>
  </li>
</ul>

<%- include('partials/footer'); -%>