<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="boba">
  </div>
  <div class="headings">
    <h2>Boba Recipes</h2>
    <h3>By 2Kdev for all of you</h3>
    <a href="/boba" class="btn">Get boba</a>
  </div>
</header>


<%- include('partials/footer'); -%>